<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
  <title>ComunidadUcv</title>
</head>

<body class=" indigo darken-4">
    <div class="container">
      <div class="row"> 
        <!-- Page Content goes here -->
      
  <!-- debe ir el class="hiden"  -->
  <div id="Init" class="form col s10 l6 center-align">
    <!-- formulario de registro -->

    <div class="container">
      <div class="portada">
        <img src="../imagenes/comunidad.png" class="img-port">
      </div>
      <div id="prueba">
        <div id='inForm'>

            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="text" class="validate">
                      <label for="first_name">Usuario</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="last_name">Contraseña</label>
                    </div>
                  </div>
                </form>
              </div>
          <div class="row">
            <div class="col l6 s7 m-auto">
                <button id='btnSignin' class="waves-effect grey darken-2 btn w-100">INGRESAR</button>
            </div>
          </div>
       

          <div class="boton-redes">
            <button id="google" class=" google btn btn-block btn-social btn-google ">
              <span id='logofacebook' class="  fab fa-google"></span> Inicia Sesión con Google
            </button>
            <button id="facebook" class=" facebook btn btn-block btn-social btn-facebook ">
              <span id='logofacebook' class="  fab fa-facebook-f"></span> Inicia Sesión con Facebook
            </button>
          </div>
          <div class="inferior">
            <label>¿No tienes una cuenta?</label>
            <button type="button" class="btn btn-link" id="register">
              <a href="#login">Registrate</a>
            </button>
          </div>
        </div>



        <div id="outForm" class="hiden">
          <label>Nombres</label><br>
          <input id="name" type="text" placeholder="nombres"><br>
          <label>Correo Electronico</label><br>
          <input id="email1" type="email" placeholder="Correo Electronico"><br>
          <label>Contraseña</label><br>
          <input id="pass" type="password" placeholder="Contraseña"><br>
          <br><button class="btn btn-primary" id="registrar">Registrarse</button>

          <div class="boton-redes">
            <button id="google1" class="google btn btn-block btn-social btn-google ">
              <span id='logofacebook' class="  fab fa-google"> </span> Registrate con Google
            </button>
            <button id="facebook1" class="facebook btn btn-block btn-social btn-facebook ">
              <span id='logofacebook' class=" fab fa-facebook-f"> </span> Registrate con Facebook
            </button>
          </div>

          <div class="inferior">
            <label>¿Ya tienes una cuenta?</label>
            <button type="button" class="btn btn-link" id="ingreso">
              <a href="#signup">Inicia Sesión</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="data" class="hiden">
    <div class="w3-container w3-white w3-top" style="float:right">
      <div class="w3-hover w3-cell-row">
        <button id="muro" class="w3-button w3-padding-large">General</button>
        <button class="w3-button w3-padding-large">Notificaciones <span class="number">3</span></button>
        <button class="w3-button w3-padding-large">Mensajes <span class="number">7</span></button>
        <button id="botoncerrar" class="w3-button w3-padding-large" title="Cerrar Sesión">Salir</button>
        <form class="form-inline my-2 my-lg-0 search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary align-right my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="container2 w3-col l12">
      <aside class="w3-col s12 m4 l4">
        <div class="w3-container w3-content">
          <div class="w3-card w3-round w3-white card">
            <div class="w3-container">
                <h4 class="w3-center"><span id="UserCount"></span></h4>
              <p class="w3-center">
                <div id="Profile" onclick="document.getElementById('modal01').style.display='block'" alt="Avatar"></div>
                <div id="modal01" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
                  <img class="w3-modal-content" style="width:30%;margin-left:450px" style="margin:40px" src="imagenes/sin_perfil.png">
                </div>
                <hr>
                <p><i class="fas fa-graduation-cap"></i> ESTUDIANTE</p>
                <p><i class="fas fa-globe-americas"></i> SURCO, LIMA</p>
                <p><i class="fas fa-birthday-cake"></i> 27 JUNIO</p>
            </div>
            <div class="w3-card w3-round">
              <div class="w3-white">
                <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                  <i class="fas fa-users"></i> Grupos </button>
                <div id="Demo1" class="w3-hide w3-container">
                  <p>Some text..</p>
                </div>
                <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                  <i class="fas fa-calendar-alt"></i> Eventos </button>
                <div id="Demo2" class="w3-hide w3-container">
                  <p>Some other text..</p>
                </div>
                <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                  <i class="fas fa-images"></i> Fotos </button>
                <div id="Demo3" class="w3-hide w3-container">
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <br>
      </aside>
      <section class="w3-col m6 l6 pos">
        <div class="postea ">
          <div class="w3-row-padding">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">Estado</h6>
                <input id="post" type="text" placeholder='Que estas pensando' class="w3-border w3-padding"><br>
                <button id='botonpostea' class="w3-button w3-theme"><i class="fas fa-edit"></i> Publicar</button>
                <button class="w3-button w3-theme"><i class="fa fa-camera"></i> Foto</button>
                <p>Privado</p>
              </div>
            </div>
          </div>
          <div id='content'>

          </div>
        </div>

      </section>
    </div>
  </div>
</div>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>     
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAd-_QsITc2hsVEPLgnB2TSVLe2xkfT8fs",
      authDomain: "nuestra-red-social.firebaseapp.com",
      databaseURL: "https://nuestra-red-social.firebaseio.com",
      projectId: "nuestra-red-social",
      storageBucket: "nuestra-red-social.appspot.com",
      messagingSenderId: "202930589167"
    };
    firebase.initializeApp(config);

  </script>

  <script src='data.js'></script>
  <script src='dataMuro.js'></script>

</body>

</html>
