body{   
    background:rgb(0, 13, 83);
    font-family: 'Amatic SC'; 
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
  
}
.sect{
    margin-top: 5%;
}

#logoWeb{
    margin-top: 5%;
    border-radius: 100%;
    border: 5px solid black;
}

.number{
    background: rgb(119, 119, 119);
    border-radius: 10px;
    color:white;
    padding: 5px;
    font-size: 16px;
}

.pos{
    margin-top: 10%;
}

.postea{
    justify-content: right;    
}

.card{
 margin-top: 15%;
 width:100%;
 text-align: center;
}

#Init{
   margin-left: 35%;
   text-align: center;
  justify-content: center;
}

.search{
    float: right;
}

.google{
    background: rgb(172, 1, 1);
    color: white;
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width: 90%;
}

.facebook{
    background: rgb(0, 0, 146);
    color: white;
    padding: 5px;
    width: 90%;
    margin-left: 15px;

}

.form{
    background: white;
    width: 35%;
    display: flex;
    margin-top: 100px;
    text-align: center;
}

.hiden{
    display:none;
}

nav{
    height: 50px;
    top: 0;
    background: white;
    position: fixed;
}

@media screen and (max-width: 600px) {
    .form{
        background: white;
        width: 90%;
        display: flex;
        margin-top: 100px;
        text-align: center;
    }
    #Init{
        margin: 8%;
        text-align: center;
       justify-content: center;
     }
  }